In [1]:
#### DATA EXTRACTION AND CLEANING ###

# Loading required libraries
import pandas as pd
import numpy as np

In [2]:
### THE MILITARY SPENDING OF G20 NATIONS ###


# Read the "SIPRI-Milex-data-1949-2017.xlsx" Excel spreadsheet which was obtained from the website: 
# https://www.sipri.org/databases/milex

military = pd.ExcelFile("SIPRI-Milex-data-1949-2017.xlsx")

# There are 10 sheets in the above Excel spreadsheet. For the military spending portion, I will use three sheets: 
# 'Current USD', 'Share of GDP' and 'Per capita'

# Read the 'Current USD' sheet. Skip the header and footer. Then, pull out the data for six years, 2009 to 2014
currentusd = military.parse('Current USD', skiprows = 5, skip_footer=8)
currentusd1 = currentusd[['Country', 2009, 2010, 2011, 2012, 2013, 2014]]
currentusd1.head()

        Country     2009     2010     2011     2012     2013     2014
0        Africa      NaN      NaN      NaN      NaN      NaN      NaN
1  North Africa      NaN      NaN      NaN      NaN      NaN      NaN
2       Algeria  5280.59  5671.31  8652.24  9326.29  10161.6  9724.38
3         Libya      . .      . .      . .  2987.41  3964.69  3755.66
4       Morocco  3055.07   3160.8   3342.7   3402.7  4065.55  4048.61

In [3]:
# Remove unncessary values and drop NaN rows.
currentusd2 = currentusd1[currentusd1!=". ."]
currentusd2 = currentusd2[currentusd!="xxx"]
currendusd2 = currentusd2.dropna(axis=0, how='any')

# Set Country as Index
currentusd3 = currentusd2.set_index('Country')
currentusd3.head()

# Select military spending for the G-20 nations other than European Union
military20 = currentusd3.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA', ], :]
military20

                       2009     2010     2011     2012     2013     2014
Country
Argentina           2981.85  3475.35  4051.93  4563.22  5137.97  4979.44
Australia           18960.1  23217.7  26597.2  26216.6  24825.3  25783.7
Brazil              25648.8  34002.9  36936.2    33987  32874.8  32659.6
Canada              18936.2  19315.7  21393.7  20452.1  18515.7  17853.7
China, P.R.          105644   115712   137967   157390   179880   200772
France                66884  61781.7  64600.9  60035.2  62417.1  63613.6
Germany             47470.1  46255.5  48140.3  46470.9  45930.5  46102.7
India               38722.2  46090.4  49633.8  47216.9  47403.5  50914.1
Indonesia           3304.46  4663.37  5838.03   6531.1  8384.03  6929.26
Italy               38301.4  36032.3    38130  33732.8  33891.9  31572.4
Japan               51465.2  54655.5  60762.2  60011.5  49023.9  46881.2
Korea, South        24575.7  28175.2  30991.7  31951.8  34136.6  37552.3
Mexico              4855.51   5897.2  6471.39  6978.78  7837.61  8663.38
Russian Federation  51532.1  58720.2  70237.5  81469.4  88352.9  84696.5
Saudi Arabia        41267.2  45244.5  48530.9  56497.9    67020  80762.4
South Africa        3592.69  4188.17  4594.15  4489.59  4118.21  3893.48
Turkey              16352.3  17939.4  17304.9  17958.2  18662.6  17772.2
UK                  57914.6  58082.8  60270.4  58495.7  56861.8  59182.9
USA                  668567   698180   711338   684780   639704   609914

In [4]:
# The total military spending for each country between 2009 and 2014 is given by
# Added a new column 'TOTAL' to military20 

military20['TOTAL'] = np.sum(military20, axis = 1)
military20['TOTAL']

/Users/pradiphayu/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

Country
Argentina             2.518977e+04
Australia             1.456006e+05
Brazil                1.961094e+05
Canada                1.164672e+05
China, P.R.           8.973663e+05
France                3.793325e+05
Germany               2.803700e+05
India                 2.799810e+05
Indonesia             3.565023e+04
Italy                 2.116608e+05
Japan                 3.227995e+05
Korea, South          1.873833e+05
Mexico                4.070387e+04
Russian Federation    4.350087e+05
Saudi Arabia          3.393229e+05
South Africa          2.487629e+04
Turkey                1.059895e+05
UK                    3.508082e+05
USA                   4.012483e+06
Name: TOTAL, dtype: float64

In [5]:
# Sort the above value in descending order to compare the total military expenditures of each country in 6 years

military20.sort_values(by= 'TOTAL', ascending = False)

#This yields the military spending of G-20 nations in millions of dollars

,2009,2010,2011,2012,2013,2014,TOTAL
Country,,,,,,,
USA,668567,698180,711338,684780,639704,609914,4.012483e+06
"China, P.R.",105644,115712,137967,157390,179880,200772,8.973663e+05
Russian Federation,51532.1,58720.2,70237.5,81469.4,88352.9,84696.5,4.350087e+05
France,66884,61781.7,64600.9,60035.2,62417.1,63613.6,3.793325e+05
UK,57914.6,58082.8,60270.4,58495.7,56861.8,59182.9,3.508082e+05
Saudi Arabia,41267.2,45244.5,48530.9,56497.9,67020,80762.4,3.393229e+05
Japan,51465.2,54655.5,60762.2,60011.5,49023.9,46881.2,3.227995e+05
Germany,47470.1,46255.5,48140.3,46470.9,45930.5,46102.7,2.803700e+05
India,38722.2,46090.4,49633.8,47216.9,47403.5,50914.1,2.799810e+05
Italy,38301.4,36032.3,38130,33732.8,33891.9,31572.4,2.116608e+05
Brazil,25648.8,34002.9,36936.2,33987,32874.8,32659.6,1.961094e+05
"Korea, South",24575.7,28175.2,30991.7,31951.8,34136.6,37552.3,1.873833e+05
Australia,18960.1,23217.7,26597.2,26216.6,24825.3,25783.7,1.456006e+05
Canada,18936.2,19315.7,21393.7,20452.1,18515.7,17853.7,1.164672e+05
Turkey,16352.3,17939.4,17304.9,17958.2,18662.6,17772.2,1.059895e+05
Mexico,4855.51,5897.2,6471.39,6978.78,7837.61,8663.38,4.070387e+04
Indonesia,3304.46,4663.37,5838.03,6531.1,8384.03,6929.26,3.565023e+04
Argentina,2981.85,3475.35,4051.93,4563.22,5137.97,4979.44,2.518977e+04
South Africa,3592.69,4188.17,4594.15,4489.59,4118.21,3893.48,2.487629e+04

In [6]:
# Read the 'Share of GDP' sheet. Skip the header and footer. Then, pull out the data for 6 years, 2009 to 2014
msgdp = military.parse('Share of GDP', skiprows = 5, skip_footer=8)
msgdp1 = msgdp[['Country', 2009, 2010, 2011, 2012, 2013, 2014]]

# Remove unncessary values and drop NaN rows.
msgdp2 = msgdp1[msgdp1!=". ."]
msgdp2 = msgdp2[msgdp!="xxx"]
msgdp2 = msgdp2.dropna(axis=0, how='any')
msgdp2.head()

# Set Country as the Index
msgdp3 = msgdp2.set_index('Country')
msgdp3.head()

# Select military spending as a share of GDP for the G-20 Nations except European Union
msgdp20 = msgdp3.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA', ], :]
msgdp20

,2009,2010,2011,2012,2013,2014
Country,,,,,,
Argentina,0.00886509,0.00814878,0.00764287,0.00784825,0.00837736,0.00878101
Australia,0.0192918,0.018624,0.0176939,0.0167992,0.0164953,0.0178129
Brazil,0.0153863,0.0153941,0.0141185,0.0137866,0.0132945,0.0133024
Canada,0.0138104,0.0119715,0.0119608,0.011211,0.0100486,0.00995806
"China, P.R.",0.0206743,0.0189671,0.0182193,0.0183856,0.0187233,0.0191534
France,0.0248301,0.0233417,0.0225666,0.0223894,0.0222243,0.022326
Germany,0.0138891,0.0135365,0.0128111,0.0131126,0.0122399,0.0118497
India,0.028935,0.0270747,0.0265158,0.0253548,0.0246412,0.0248816
Indonesia,0.00612411,0.00617587,0.00653777,0.00711549,0.0091877,0.00778141
Italy,0.017529,0.0169559,0.0167509,0.0162738,0.015908,0.014673
Japan,0.00983777,0.00958851,0.00986806,0.00967427,0.00950866,0.00967334
"Korea, South",0.0272477,0.0257425,0.0257735,0.0261298,0.0261462,0.0266077
Mexico,0.00542547,0.00561035,0.00552549,0.00588133,0.00621056,0.00667204
Russian Federation,0.0414067,0.0381623,0.0345696,0.0375134,0.0394413,0.0410418
Saudi Arabia,0.096172,0.0858837,0.0724876,0.0769772,0.09004,0.107136
South Africa,0.01214,0.0111581,0.0110326,0.0113279,0.0112327,0.0110973
Turkey,0.0253659,0.0232413,0.0207854,0.0205476,0.0196325,0.0190246
UK,0.0244669,0.0239055,0.0231025,0.0221072,0.0209088,0.0197213
USA,0.046368,0.0466561,0.0458398,0.0423873,0.0383251,0.034997

In [7]:
# Multiply the dataset by 100 to convert into military spending percentage of gdp
ms_percent_gdp = msgdp20 * 100
ms_percent_gdp

                        2009      2010      2011      2012      2013      2014
Country
Argentina           0.886509  0.814878  0.764287  0.784825  0.837736  0.878101
Australia            1.92918    1.8624   1.76939   1.67992   1.64953   1.78129
Brazil               1.53863   1.53941   1.41185   1.37866   1.32945   1.33024
Canada               1.38104   1.19715   1.19608    1.1211   1.00486  0.995806
China, P.R.          2.06743   1.89671   1.82193   1.83856   1.87233   1.91534
France               2.48301   2.33417   2.25666   2.23894   2.22243    2.2326
Germany              1.38891   1.35365   1.28111   1.31126   1.22399   1.18497
India                 2.8935   2.70747   2.65158   2.53548   2.46412   2.48816
Indonesia           0.612411  0.617587  0.653777  0.711549   0.91877  0.778141
Italy                 1.7529   1.69559   1.67509   1.62738    1.5908    1.4673
Japan               0.983777  0.958851  0.986806  0.967427  0.950866  0.967334
Korea, South         2.72477   2.57425   2.57735   2.61298   2.61462   2.66077
Mexico              0.542547  0.561035  0.552549  0.588133  0.621056  0.667204
Russian Federation   4.14067   3.81623   3.45696   3.75134   3.94413   4.10418
Saudi Arabia          9.6172   8.58837   7.24876   7.69772     9.004   10.7136
South Africa           1.214   1.11581   1.10326   1.13279   1.12327   1.10973
Turkey               2.53659   2.32413   2.07854   2.05476   1.96325   1.90246
UK                   2.44669   2.39055   2.31025   2.21072   2.09088   1.97213
USA                   4.6368   4.66561   4.58398   4.23873   3.83251    3.4997

In [8]:
#Military Spending Per Capita for the top 10 military spending nations

# Read the 'Per Capita' sheet. Skip the header and footer. Then, pull out the data for six years, 2009 to 2014
ms_percapita = military.parse('Per capita', skiprows = 6, skip_footer=8)
ms_percapita1 = ms_percapita[['Country', 2009, 2010, 2011, 2012, 2013, 2014]]

# Remove unncessary values and drop NaN rows.
ms_percapita2 = ms_percapita1[ms_percapita1!=". ."]
ms_percapita2 = ms_percapita2[ms_percapita!="xxx"]
ms_percapita2 = ms_percapita2.dropna(axis=0, how='any')
ms_percapita2.head()

# Set Country as Index
ms_percapita3 = ms_percapita2.set_index('Country')
ms_percapita3.head()

# Select percapita for the 10 military expenditure nations
ms_percapita10 = ms_percapita3.loc[['China, P.R.', 'France', 'Germany', 'India', 'Italy', 'Japan',
                              'Russian Federation','Saudi Arabia','UK','USA', ], :]
ms_percapita10

                       2009     2010     2011     2012     2013     2014
Country
China, P.R.         78.1353  85.0975  100.892  114.449  130.085  144.429
France              1066.94  980.247  1019.85  943.358  976.489   991.01
Germany             586.299  571.799   594.81  573.246  565.194  565.749
India               31.8892  37.4421   39.795  37.3828  37.0757  39.3506
Italy                642.19  603.255  638.053  564.718  568.008  529.866
Japan               400.299  425.163  472.838  467.283  382.065  365.794
Russian Federation  360.131   410.19  490.266  568.045  615.283  589.146
Saudi Arabia        1547.82  1649.71  1718.64  1942.42  2238.14  2624.14
UK                  923.345  917.481  944.502  910.434  879.653  910.286
USA                 2184.31  2262.11  2286.88  2185.45  2027.35  1919.67

In [1]:
#GPD of G20 Nations In Millions($)
#Data Source: https://data.worldbank.org/indicator/NY.GDP.MKTP.CD
GDP = pd.read_excel("GDP_US$.xls", sheet_name='Data', skiprows = 3, index_col = 0)
GDP20 = GDP.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
GDP20_Millions = GDP20/1000000
GDP20_Millions

NameError: name 'pd' is not defined

In [10]:
#GPD Per Person of G20 Nations In US($)
#Data Source: https://data.worldbank.org/indicator/NY.GDP.PCAP.CD
GDP_PP = pd.read_excel("GDP_PC_US$.xls", sheet_name='Data', skiprows = 3, index_col = 0)
GDP_PP_20 = GDP_PP.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
GDP_PP_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,8161.306966,10276.260498,12726.908359,12969.707124,12976.636425,12245.256449
Australia,42709.803303,51936.888712,62411.785447,67864.689862,67990.290030,62327.555939
Brazil,8553.381368,11224.154083,13167.472892,12291.466852,12216.904464,12026.619391
Canada,40773.454364,47447.476024,52082.210760,52496.694870,52418.315062,50633.208822
"China, P.R.",3838.433972,4560.512586,5633.795717,6337.883323,7077.770765,7683.502613
France,41575.416178,40638.334004,43790.735399,40874.715956,42592.951519,43008.652570
Germany,41732.707253,41785.556913,46810.327959,44065.248908,46530.911428,48042.563435
India,1090.317765,1345.770153,1461.671957,1446.985410,1452.195373,1576.004018
Indonesia,2254.445592,3113.480635,3634.276805,3687.953996,3620.663981,3491.595887
Italy,36976.845534,35849.373198,38334.683850,34814.125117,35370.275258,35396.665724
Japan,40855.175635,44507.676386,48167.997268,48603.476650,40454.447458,38109.412113
"Korea, South",18291.919598,22086.952919,24079.788524,24358.782176,25890.018670,27811.366384
Mexico,7792.247730,9016.457927,9912.582362,9940.468561,10400.563158,10582.410526
Russian Federation,8562.809598,10674.987707,14351.212054,15434.574781,16007.089993,14125.908727
Saudi Arabia,16094.293098,19259.587257,23770.747386,25303.094621,24934.386142,24575.403038
South Africa,5805.998362,7276.376756,7967.678159,7478.136578,6819.062302,6429.023950
Turkey,9036.268076,10672.400365,11340.822270,11720.313014,12542.720926,12127.461458
UK,38262.182134,38893.018494,41412.349240,41790.779141,42724.067884,46783.469217
USA,47001.555350,48375.406946,49793.713525,51450.959115,52782.086509,54696.726165

In [11]:
#Population of G-20 Nations
#Data Source: https://data.worldbank.org/indicator/SP.POP.TOTL?locations=1W
Population = pd.read_excel("Total_Population.xls", sheet_name='Data', skiprows = 3, index_col = 0)
Population_20 = Population.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
Population_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,4.079941e+07,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07,4.298152e+07
Australia,2.169170e+07,2.203175e+07,2.234002e+07,2.274248e+07,2.314590e+07,2.350414e+07
Brazil,1.948960e+08,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08,2.042131e+08
Canada,3.362857e+07,3.400527e+07,3.434278e+07,3.475054e+07,3.515237e+07,3.553535e+07
"China, P.R.",1.331260e+09,1.337705e+09,1.344130e+09,1.350695e+09,1.357380e+09,1.364270e+09
France,6.470704e+07,6.502751e+07,6.534278e+07,6.565979e+07,6.599866e+07,6.631609e+07
Germany,8.190231e+07,8.177693e+07,8.027498e+07,8.042582e+07,8.064560e+07,8.098250e+07
India,1.214270e+09,1.230981e+09,1.247236e+09,1.263066e+09,1.278562e+09,1.293859e+09
Indonesia,2.393405e+08,2.425241e+08,2.457075e+08,2.488832e+08,2.520323e+08,2.551311e+08
Italy,5.909536e+07,5.927742e+07,5.937945e+07,5.953972e+07,6.023395e+07,6.078914e+07
Japan,1.280470e+08,1.280700e+08,1.278330e+08,1.276290e+08,1.274450e+08,1.272760e+08
"Korea, South",4.930784e+07,4.955411e+07,4.993664e+07,5.019985e+07,5.042889e+07,5.074666e+07
Mexico,1.155052e+08,1.173189e+08,1.190900e+08,1.208283e+08,1.225360e+08,1.242216e+08
Russian Federation,1.427853e+08,1.428494e+08,1.429609e+08,1.432017e+08,1.435069e+08,1.438197e+08
Saudi Arabia,2.666149e+07,2.742568e+07,2.823802e+07,2.908636e+07,2.994448e+07,3.077672e+07
South Africa,5.097082e+07,5.158466e+07,5.226352e+07,5.299821e+07,5.376740e+07,5.453957e+07
Turkey,7.133918e+07,7.232691e+07,7.340946e+07,7.456987e+07,7.578733e+07,7.703063e+07
UK,6.227627e+07,6.276636e+07,6.325892e+07,6.370030e+07,6.412823e+07,6.461316e+07
USA,3.067715e+08,3.093384e+08,3.116443e+08,3.139933e+08,3.162345e+08,3.186225e+08

In [12]:
#Population in Millions 
Population_Millions = Population_20/1000000
Population_Millions

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,40.799407,41.223889,41.656879,42.096739,42.539925,42.981515
Australia,21.691700,22.031750,22.340024,22.742475,23.145901,23.504138
Brazil,194.895996,196.796269,198.686688,200.560983,202.408632,204.213133
Canada,33.628571,34.005274,34.342780,34.750545,35.152370,35.535348
"China, P.R.",1331.260000,1337.705000,1344.130000,1350.695000,1357.380000,1364.270000
France,64.707044,65.027507,65.342775,65.659789,65.998660,66.316092
Germany,81.902307,81.776930,80.274983,80.425823,80.645605,80.982500
India,1214.270132,1230.980691,1247.236029,1263.065852,1278.562207,1293.859294
Indonesia,239.340478,242.524123,245.707511,248.883232,252.032263,255.131116
Italy,59.095365,59.277417,59.379449,59.539717,60.233948,60.789140
Japan,128.047000,128.070000,127.833000,127.629000,127.445000,127.276000
"Korea, South",49.307835,49.554112,49.936638,50.199853,50.428893,50.746659
Mexico,115.505228,117.318941,119.090017,120.828307,122.535969,124.221600
Russian Federation,142.785342,142.849449,142.960868,143.201676,143.506911,143.819666
Saudi Arabia,26.661492,27.425676,28.238020,29.086357,29.944476,30.776722
South Africa,50.970818,51.584663,52.263516,52.998213,53.767396,54.539571
Turkey,71.339185,72.326914,73.409455,74.569867,75.787333,77.030628
UK,62.276270,62.766365,63.258918,63.700300,64.128226,64.613160
USA,306.771529,309.338421,311.644280,313.993272,316.234505,318.622525

In [13]:
#Health Spending Per Capita (US $)
#Data Source: https://data.worldbank.org/indicator/SH.XPD.CHEX.PC.CD
HealthPP = pd.read_excel("Health_PC.xls", sheet_name='Data', skiprows = 3, index_col = 0)
HealthPP_20 = HealthPP.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
HealthPP_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,576.811181,698.603496,806.859949,864.505354,920.812880,845.054687
Australia,3997.509689,4952.776147,5876.878483,6047.020069,5838.389894,5637.559721
Brazil,719.961527,894.941419,1029.311397,960.783780,975.935405,1014.092105
Canada,4290.851273,4987.548682,5292.441914,5343.612160,5286.740903,5028.982333
"China, P.R.",174.385654,198.874788,254.091952,298.708957,339.060808,376.194012
France,4523.594551,4385.429864,4725.351304,4447.746434,4679.114650,4779.179428
Germany,4742.252717,4696.737702,5030.805251,4761.253315,5103.486548,5293.384484
India,38.412412,45.250772,48.722833,49.051403,56.218824,57.151140
Indonesia,63.904085,107.491965,121.471749,124.473534,122.041519,120.079190
Italy,3324.373620,3214.546282,3387.575618,3125.611468,3195.553285,3190.088143
Japan,3685.825237,4060.190083,5087.102201,5212.069380,4336.149947,4099.465080
"Korea, South",1162.135801,1436.754071,1585.353066,1646.861938,1796.938874,1995.746806
Mexico,477.648850,538.744767,565.129192,580.748407,617.874698,593.398448
Russian Federation,516.698631,567.377682,684.752591,760.070648,811.169431,742.284965
Saudi Arabia,657.687624,670.962495,859.550351,991.667674,1091.317588,1248.805293
South Africa,413.074083,539.567615,597.359448,579.748563,526.499575,509.833261
Turkey,500.071604,539.328806,531.659655,524.817836,552.405481,527.202842
UK,3272.640546,3306.786792,3501.483299,3532.055053,4193.718780,4566.650150
USA,7696.471510,7949.896130,8160.844865,8432.506528,8634.631747,9059.521156

In [14]:
#Health Expenditure For Each Country
HealthExpenditure = HealthPP_20 * Population_20 #This yields health expenditure in US $
HealthExpenditure_Millions = HealthExpenditure/1000000 #This yields health expenditure in millions
HealthExpenditure_Millions

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,2.353355e+04,2.879915e+04,3.361127e+04,3.639286e+04,3.917131e+04,3.632173e+04
Australia,8.671278e+04,1.091183e+05,1.312896e+05,1.375242e+05,1.351348e+05,1.325060e+05
Brazil,1.403176e+05,1.761211e+05,2.045105e+05,1.926957e+05,1.975378e+05,2.070909e+05
Canada,1.442952e+05,1.696030e+05,1.817572e+05,1.856934e+05,1.858415e+05,1.787066e+05
"China, P.R.",2.321526e+05,2.660358e+05,3.415326e+05,4.034647e+05,4.602344e+05,5.132302e+05
France,2.927084e+05,2.851736e+05,3.087676e+05,2.920381e+05,3.088153e+05,3.169365e+05
Germany,3.884014e+05,3.840848e+05,4.038478e+05,3.829277e+05,4.115738e+05,4.286715e+05
India,4.664305e+04,5.570283e+04,6.076887e+04,6.195515e+04,7.187926e+04,7.394553e+04
Indonesia,1.529483e+04,2.606939e+04,2.984652e+04,3.097938e+04,3.075840e+04,3.063594e+04
Italy,1.964551e+05,1.905500e+05,2.011524e+05,1.860980e+05,1.924808e+05,1.939227e+05
Japan,4.719589e+05,5.199885e+05,6.502995e+05,6.652112e+05,5.526206e+05,5.217635e+05
"Korea, South",5.730240e+04,7.119707e+04,7.916720e+04,8.267223e+04,9.061764e+04,1.012775e+05
Mexico,5.517094e+04,6.320497e+04,6.730125e+04,7.017085e+04,7.571187e+04,7.371290e+04
Russian Federation,7.377699e+04,8.104959e+04,9.789282e+04,1.088434e+05,1.164084e+05,1.067552e+05
Saudi Arabia,1.753493e+04,1.840160e+04,2.427200e+04,2.884400e+04,3.267893e+04,3.843413e+04
South Africa,2.105472e+04,2.783341e+04,3.122011e+04,3.072564e+04,2.830851e+04,2.780609e+04
Turkey,3.567470e+04,3.900799e+04,3.902885e+04,3.913560e+04,4.186534e+04,4.061077e+04
UK,2.038078e+05,2.075550e+05,2.215000e+05,2.249930e+05,2.689357e+05,2.950657e+05
USA,2.361058e+06,2.459208e+06,2.543281e+06,2.647750e+06,2.730568e+06,2.886568e+06

In [15]:
#Ordering the countries based on total health expenditures
HealthExpenditure_Millions['Total'] = np.sum(HealthExpenditure_Millions, axis = 1)
HealthExpenditure_Millions['Total']
HealthExpenditure_Millions.sort_values(by= 'Total', ascending = False)

,2009,2010,2011,2012,2013,2014,Total
Country Name,,,,,,,
USA,2.361058e+06,2.459208e+06,2.543281e+06,2.647750e+06,2.730568e+06,2.886568e+06,1.562843e+07
Japan,4.719589e+05,5.199885e+05,6.502995e+05,6.652112e+05,5.526206e+05,5.217635e+05,3.381842e+06
Germany,3.884014e+05,3.840848e+05,4.038478e+05,3.829277e+05,4.115738e+05,4.286715e+05,2.399507e+06
"China, P.R.",2.321526e+05,2.660358e+05,3.415326e+05,4.034647e+05,4.602344e+05,5.132302e+05,2.216650e+06
France,2.927084e+05,2.851736e+05,3.087676e+05,2.920381e+05,3.088153e+05,3.169365e+05,1.804439e+06
UK,2.038078e+05,2.075550e+05,2.215000e+05,2.249930e+05,2.689357e+05,2.950657e+05,1.421857e+06
Italy,1.964551e+05,1.905500e+05,2.011524e+05,1.860980e+05,1.924808e+05,1.939227e+05,1.160659e+06
Brazil,1.403176e+05,1.761211e+05,2.045105e+05,1.926957e+05,1.975378e+05,2.070909e+05,1.118274e+06
Canada,1.442952e+05,1.696030e+05,1.817572e+05,1.856934e+05,1.858415e+05,1.787066e+05,1.045897e+06
Australia,8.671278e+04,1.091183e+05,1.312896e+05,1.375242e+05,1.351348e+05,1.325060e+05,7.322857e+05
Russian Federation,7.377699e+04,8.104959e+04,9.789282e+04,1.088434e+05,1.164084e+05,1.067552e+05,5.847264e+05
"Korea, South",5.730240e+04,7.119707e+04,7.916720e+04,8.267223e+04,9.061764e+04,1.012775e+05,4.822340e+05
Mexico,5.517094e+04,6.320497e+04,6.730125e+04,7.017085e+04,7.571187e+04,7.371290e+04,4.052728e+05
India,4.664305e+04,5.570283e+04,6.076887e+04,6.195515e+04,7.187926e+04,7.394553e+04,3.708947e+05
Turkey,3.567470e+04,3.900799e+04,3.902885e+04,3.913560e+04,4.186534e+04,4.061077e+04,2.353232e+05
Argentina,2.353355e+04,2.879915e+04,3.361127e+04,3.639286e+04,3.917131e+04,3.632173e+04,1.978299e+05
South Africa,2.105472e+04,2.783341e+04,3.122011e+04,3.072564e+04,2.830851e+04,2.780609e+04,1.669485e+05
Indonesia,1.529483e+04,2.606939e+04,2.984652e+04,3.097938e+04,3.075840e+04,3.063594e+04,1.635845e+05
Saudi Arabia,1.753493e+04,1.840160e+04,2.427200e+04,2.884400e+04,3.267893e+04,3.843413e+04,1.601656e+05

In [16]:
#Health Expenditure as a percentage share of GDP:
#Data Source: https://data.worldbank.org/indicator/SH.XPD.CHEX.GD.ZS
HealthPercent = pd.read_excel("Health_%GDP.xls", sheet_name='Data', skiprows = 3, index_col = 0)
HealthPercent_20 = HealthPercent.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
HealthPercent_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,6.997006,6.755996,6.343036,6.257964,6.387981,6.407625
Australia,8.587602,8.467782,8.585724,8.725502,8.805844,9.079250
Brazil,8.417393,7.973474,7.817211,7.816547,7.988362,8.431892
Canada,10.574113,10.562243,10.219664,10.222931,10.115272,9.987017
"China, P.R.",4.603592,4.457722,4.619263,4.793086,4.866111,4.964164
France,10.806621,10.713047,10.725864,10.827697,10.929331,11.100077
Germany,11.167144,11.034898,10.747211,10.805037,10.968000,11.050367
India,3.485380,3.272121,3.246450,3.328474,3.748426,3.629525
Indonesia,2.834581,3.452469,3.342391,3.375138,3.370694,3.440357
Italy,8.976537,8.953612,8.834643,8.956061,8.952267,9.011441
Japan,9.058297,9.156773,10.616718,10.790653,10.791594,10.835803
"Korea, South",6.362471,6.504825,6.558439,6.727507,6.904926,7.124949
Mexico,6.175593,6.019952,5.755392,5.924072,6.014017,5.691027
Russian Federation,5.940834,5.278642,5.120800,5.342901,5.536273,5.697774
Saudi Arabia,4.086465,3.493014,3.625356,3.929937,4.390346,5.098504
South Africa,7.114587,7.415357,7.497317,7.752553,7.721369,7.925304
Turkey,5.533908,5.053656,4.687890,4.477850,4.404118,4.347266
UK,8.577836,8.507612,8.458690,8.475763,9.854756,9.799457
USA,16.337823,16.396725,16.358127,16.355069,16.322920,16.516207

In [17]:
#Education Expenditure as a percentage share of GDP:
#Data Source: https://data.worldbank.org/indicator/SE.XPD.TOTL.GD.ZS
EducationPercent = pd.read_excel("Education_%GDP.xls", sheet_name='Data', skiprows = 3, index_col = 0)
EducationPercent_20 = EducationPercent.loc[['Argentina','Australia', 'Brazil', 'Canada', 'China, P.R.', 'France',
                              'Germany', 'India', 'Indonesia', 'Italy', 'Japan', 'Korea, South','Mexico',
                              'Russian Federation','Saudi Arabia', 'South Africa', 'Turkey','UK','USA'],
                ['2009', '2010', '2011', '2012', '2013', '2014']]
EducationPercent_20

                       2009     2010     2011     2012     2013     2014
Country Name
Argentina           5.53105  5.01971  5.29063  5.34583  5.43661  5.36144
Australia           5.09327  5.55917  5.08313  4.87765  5.23801  5.17368
Brazil              5.46355  5.64880  5.73741  5.85510  5.83885  5.94848
Canada              4.85264  5.36993  5.27444      NaN      NaN      NaN
China, P.R.             NaN      NaN      NaN      NaN      NaN      NaN
France              5.74618  5.69251  5.51830  5.45642  5.50028  5.51206
Germany             4.88048  4.91368  4.80780  4.93331  4.93497  4.93113
India               3.31124  3.42347  3.83972  3.86750  3.84467      NaN
Indonesia           3.52513  2.81228  3.18944  3.40748  3.35904  3.28801
Italy               4.53631  4.35239  4.14407      NaN  4.16472  4.07525
Japan                   NaN  3.63950  3.64258  3.69226  3.66538  3.59059
Korea, South        4.66983      NaN  4.86413  5.09636  5.24758  5.26613
Mexico              5.18794  5.15922  5.10565  5.10310  4.69605  5.26134
Russian Federation      NaN      NaN      NaN  3.78973      NaN      NaN
Saudi Arabia            NaN      NaN      NaN      NaN      NaN      NaN
South Africa        5.24869  5.72174  5.96275  6.37164  6.01354  6.04662
Turkey                  NaN      NaN      NaN  4.41900  4.36410  4.37116
UK                  5.13067  5.77046  5.67333      NaN  5.61871  5.69342
USA                     NaN  5.42001  5.22390  5.19486  4.94379  4.98948

In [18]:
# Replacing NaN by zero
EducationPercent_20[np.isnan(EducationPercent_20)] = 0
EducationPercent_20

                       2009     2010     2011     2012     2013     2014
Country Name
Argentina           5.53105  5.01971  5.29063  5.34583  5.43661  5.36144
Australia           5.09327  5.55917  5.08313  4.87765  5.23801  5.17368
Brazil              5.46355  5.64880  5.73741  5.85510  5.83885  5.94848
Canada              4.85264  5.36993  5.27444  0.00000  0.00000  0.00000
China, P.R.         0.00000  0.00000  0.00000  0.00000  0.00000  0.00000
France              5.74618  5.69251  5.51830  5.45642  5.50028  5.51206
Germany             4.88048  4.91368  4.80780  4.93331  4.93497  4.93113
India               3.31124  3.42347  3.83972  3.86750  3.84467  0.00000
Indonesia           3.52513  2.81228  3.18944  3.40748  3.35904  3.28801
Italy               4.53631  4.35239  4.14407  0.00000  4.16472  4.07525
Japan               0.00000  3.63950  3.64258  3.69226  3.66538  3.59059
Korea, South        4.66983  0.00000  4.86413  5.09636  5.24758  5.26613
Mexico              5.18794  5.15922  5.10565  5.10310  4.69605  5.26134
Russian Federation  0.00000  0.00000  0.00000  3.78973  0.00000  0.00000
Saudi Arabia        0.00000  0.00000  0.00000  0.00000  0.00000  0.00000
South Africa        5.24869  5.72174  5.96275  6.37164  6.01354  6.04662
Turkey              0.00000  0.00000  0.00000  4.41900  4.36410  4.37116
UK                  5.13067  5.77046  5.67333  0.00000  5.61871  5.69342
USA                 0.00000  5.42001  5.22390  5.19486  4.94379  4.98948

In [19]:
#Total education expenditure for the G20 countries in millions ($)
EducationExpenditure_Millions_20 = (EducationPercent_20 * GDP20_Millions)/100
EducationExpenditure_Millions_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,18417.095850,21264.868070,28048.977624,29187.289635,30011.453977,28218.313515
Australia,47186.510290,63611.389099,70873.104855,75282.187255,82430.381192,75792.108470
Brazil,91078.459241,124774.741551,150102.210967,144339.262076,144383.486843,146094.289594
Canada,66537.119181,86641.910080,94341.160616,0.000000,0.000000,0.000000
"China, P.R.",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
France,154585.014837,150430.812834,157901.087060,146440.776347,154617.145931,157213.088025
Germany,166815.050492,167905.092106,180662.617960,174835.712588,185185.415633,191850.883700
India,43838.840653,56713.788513,70000.012687,70683.894202,71384.838385,0.000000
Indonesia,19020.899472,21235.362053,28480.713916,31276.233613,30652.050762,29290.078234
Italy,99125.639915,92490.822517,94331.150651,0.000000,88728.998130,87688.493713
Japan,0.000000,207455.070886,224290.391709,229038.756794,188976.621837,174158.463384
"Korea, South",42118.829033,0.000000,58489.396726,62318.661324,68512.665876,74322.679288
Mexico,46693.812764,54574.296002,60271.667362,61292.823127,59848.484480,69163.679844
Russian Federation,0.000000,0.000000,0.000000,83762.771732,0.000000,0.000000
Saudi Arabia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
South Africa,15532.788738,21476.519211,24830.016465,25252.585427,22048.236882,21201.639090
Turkey,0.000000,0.000000,0.000000,38621.272650,41484.234181,40834.763539
UK,122254.937983,140866.934274,148624.248972,0.000000,153942.466207,172102.281499
USA,0.000000,811070.458837,810640.936314,839242.879893,825193.548294,869547.065533

In [20]:
# Select percapita for the 10 military expenditure nations (countries with most information available were selected)
EducationPercent_10 = EducationPercent_20.loc[['Argentina','Australia', 'Brazil', 
                                               'France','Germany', 'Indonesia', 
                                               'Mexico','South Africa','UK','USA', ], :]
EducationPercent_10

                 2009     2010     2011     2012     2013     2014
Country Name
Argentina     5.53105  5.01971  5.29063  5.34583  5.43661  5.36144
Australia     5.09327  5.55917  5.08313  4.87765  5.23801  5.17368
Brazil        5.46355  5.64880  5.73741  5.85510  5.83885  5.94848
France        5.74618  5.69251  5.51830  5.45642  5.50028  5.51206
Germany       4.88048  4.91368  4.80780  4.93331  4.93497  4.93113
Indonesia     3.52513  2.81228  3.18944  3.40748  3.35904  3.28801
Mexico        5.18794  5.15922  5.10565  5.10310  4.69605  5.26134
South Africa  5.24869  5.72174  5.96275  6.37164  6.01354  6.04662
UK            5.13067  5.77046  5.67333  0.00000  5.61871  5.69342
USA           0.00000  5.42001  5.22390  5.19486  4.94379  4.98948

In [21]:
#GDP in milllions for the above 10 countries
GDP10_Millions = GDP20_Millions.loc[['Argentina','Australia', 'Brazil', 
                                               'France','Germany', 'Indonesia', 
                                               'Mexico','South Africa','UK','USA', ], :]
GDP10_Millions

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,3.329765e+05,4.236274e+05,5.301633e+05,5.459824e+05,5.520251e+05,5.263197e+05
Australia,9.264482e+05,1.144261e+06,1.394281e+06,1.543411e+06,1.573697e+06,1.464955e+06
Brazil,1.667020e+06,2.208872e+06,2.616202e+06,2.465189e+06,2.472807e+06,2.455994e+06
France,2.690222e+06,2.642610e+06,2.861408e+06,2.683825e+06,2.811078e+06,2.852166e+06
Germany,3.418005e+06,3.417095e+06,3.757698e+06,3.543984e+06,3.752514e+06,3.890607e+06
Indonesia,5.395801e+05,7.550942e+05,8.929691e+05,9.178699e+05,9.125241e+05,8.908148e+05
Mexico,9.000454e+05,1.057801e+06,1.180490e+06,1.201090e+06,1.274443e+06,1.314564e+06
South Africa,2.959365e+05,3.753494e+05,4.164189e+05,3.963279e+05,3.666432e+05,3.506362e+05
UK,2.382826e+06,2.441173e+06,2.619700e+06,2.662085e+06,2.739819e+06,3.022828e+06
USA,1.441874e+07,1.496437e+07,1.551793e+07,1.615526e+07,1.669152e+07,1.742761e+07

In [22]:
#Total education expenditure for the above 10 countries in millions ($)
EducationExpenditure_Millions_10 = (EducationPercent_10 * GDP10_Millions)/100
EducationExpenditure_Millions_10

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,18417.095850,21264.868070,28048.977624,29187.289635,30011.453977,28218.313515
Australia,47186.510290,63611.389099,70873.104855,75282.187255,82430.381192,75792.108470
Brazil,91078.459241,124774.741551,150102.210967,144339.262076,144383.486843,146094.289594
France,154585.014837,150430.812834,157901.087060,146440.776347,154617.145931,157213.088025
Germany,166815.050492,167905.092106,180662.617960,174835.712588,185185.415633,191850.883700
Indonesia,19020.899472,21235.362053,28480.713916,31276.233613,30652.050762,29290.078234
Mexico,46693.812764,54574.296002,60271.667362,61292.823127,59848.484480,69163.679844
South Africa,15532.788738,21476.519211,24830.016465,25252.585427,22048.236882,21201.639090
UK,122254.937983,140866.934274,148624.248972,0.000000,153942.466207,172102.281499
USA,0.000000,811070.458837,810640.936314,839242.879893,825193.548294,869547.065533

In [23]:
#Education Expenditure Per Person In US $ for G-20 Nations
EducationPP_20 = EducationExpenditure_Millions_20/Population_Millions
EducationPP_20

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,451.405969,515.838476,673.333632,693.338494,705.489114,656.522077
Australia,2175.325599,2887.259936,3172.472190,3310.202045,3561.338191,3224.628296
Brazil,467.318268,634.030016,755.471906,719.677676,713.326726,715.401049
Canada,1978.588956,2547.896249,2747.044957,0.000000,0.000000,0.000000
"China, P.R.",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
France,2388.998249,2313.341227,2416.504152,2230.296176,2342.731594,2370.662735
Germany,2036.756431,2053.208553,2250.546948,2173.875331,2296.286520,2369.041258
India,36.103038,46.072037,56.124110,55.962161,55.832120,0.000000
Indonesia,79.472138,87.559793,115.913078,125.666295,121.619551,114.804022
Italy,1677.384342,1560.304534,1588.616133,0.000000,1473.072928,1442.502620
Japan,0.000000,1619.856882,1754.557835,1794.566727,1482.809226,1368.352740
"Korea, South",854.201549,0.000000,1171.272218,1241.411231,1358.599442,1464.582709
Mexico,404.257137,465.178901,506.101761,507.272051,488.415646,556.776598
Russian Federation,0.000000,0.000000,0.000000,584.928711,0.000000,0.000000
Saudi Arabia,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
South Africa,304.738855,416.335359,475.092729,476.479941,410.067039,388.738648
Turkey,0.000000,0.000000,0.000000,517.920632,547.376884,530.110744
UK,1963.106300,2244.306075,2349.459233,0.000000,2400.541475,2663.579393
USA,0.000000,2621.951894,2601.173801,2672.805295,2609.435515,2729.082213

In [24]:
#Population of the selected 10 Nations
Population_Millions_10 = Population_Millions.loc[['Argentina','Australia', 'Brazil', 
                                               'France','Germany', 'Indonesia', 
                                               'Mexico','South Africa','UK','USA', ], :]

In [25]:
#Education Expenditure Per Person In US $ for selected 10 Nations
EducationPP_10 = EducationExpenditure_Millions_10/Population_Millions_10
EducationPP_10

,2009,2010,2011,2012,2013,2014
Country Name,,,,,,
Argentina,451.405969,515.838476,673.333632,693.338494,705.489114,656.522077
Australia,2175.325599,2887.259936,3172.472190,3310.202045,3561.338191,3224.628296
Brazil,467.318268,634.030016,755.471906,719.677676,713.326726,715.401049
France,2388.998249,2313.341227,2416.504152,2230.296176,2342.731594,2370.662735
Germany,2036.756431,2053.208553,2250.546948,2173.875331,2296.286520,2369.041258
Indonesia,79.472138,87.559793,115.913078,125.666295,121.619551,114.804022
Mexico,404.257137,465.178901,506.101761,507.272051,488.415646,556.776598
South Africa,304.738855,416.335359,475.092729,476.479941,410.067039,388.738648
UK,1963.106300,2244.306075,2349.459233,0.000000,2400.541475,2663.579393
USA,0.000000,2621.951894,2601.173801,2672.805295,2609.435515,2729.082213